@media all {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Red Hat Display';
  }
  .main {
    display: flex;
    justify-content: center;
  }
  .card {
    background-color: hsl(225, 100%, 98%);
    width: 405px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: hsla(245, 75%, 52%, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  header img {
    width: 405px;
    /* height: 100%; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  h1 {
    font-size: 28px;
    padding-top: 1rem;
    font-weight: 900;
    text-align: center;
    color: hsl(223, 47%, 23%);
  }
  main {
    color: hsl(224, 23%, 55%);
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }
  .plan {
    border-radius: 10px;
    margin: 1.5rem 2rem;
    padding: 1.2rem 1rem;
    background-color: hsla(225, 100%, 94%, 0.4);
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
  }
  .annual {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #annual {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    padding-bottom: 0.15rem;
  }
  #price {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    font-weight: 500;
  }
  #change {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .payment {
    border-radius: 10px;
    margin: 0.5rem 2rem;
    padding: 0.8rem 1rem;
    background: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 98%);
    text-align: center;
    font-weight: 700;
    box-shadow: hsla(245, 75%, 52%, 0.2) 0px 20px 25px -5px, hsla(245, 75%, 52%, 0.25) 0px 15px 20px -5px;
  }
  .cancel {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }
}

/* desktop */
@media(min-width: 376px) {
  body {
    background: url('images/pattern-background-desktop.svg');
    background-repeat:repeat-x;
    background-color: hsl(225, 100%, 94%);
  } 
}

/* mobile */
@media(max-width: 375px) {
  body {
    background: url('images/pattern-background-mobile.svg');
    background-repeat:repeat-x;
    background-color: hsl(225, 100%, 94%);
  }
}